/* Start NavBar Components */
nav
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
nav .menu
{
    display: flex;
    align-items: center;
    gap: 16px;
}
nav .menu .audio_list
{
    display: flex;
    gap: 16px;
    position: relative;
    cursor: pointer;
}
nav .menu h1
{
    direction: rtl;
    width: 160px;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
nav .menu .audio_list img
{
    transform: translateY(2px);
}
nav .menu .audio_list ul
{
    position: absolute;
    z-index: 500;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    max-height: 50vh;
    background: radial-gradient(circle, #FAFAFA, #E1E1E1);
    list-style-type: none;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(34, 34, 34, 0.04);
    padding: 8px 16px;
    overflow-y: scroll;
}
nav .menu .audio_list ul::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
nav .menu .audio_list ul::-webkit-scrollbar-track
{
    background-color: transparent;
    border-radius: 4px;
}
nav .menu .audio_list ul::-webkit-scrollbar-thumb
{
    background: linear-gradient(to bottom, #5C9065, #66E77E);
    border-radius: 4px;
}
nav .menu .audio_list ul li
{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    direction: rtl;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    border-radius: 4px;
    margin: 4px 0;
    padding: 4px;
}
nav .menu .audio_list ul li.active_audio
{
    border: solid 1px #5C9065;
}
nav .options
{
    display: flex;
    align-items: center;
    gap: 16px;
}
nav button
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* End NavBar Components */



/* Start DarkMode */
nav:global(.darkMode) img
{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(351deg) brightness(102%) contrast(104%);
}
nav:global(.darkMode)
{
    color: white;
}
nav:global(.darkMode) .menu .audio_list ul
{
    background: radial-gradient(circle, #2c3e50, #1a252f);
}
nav:global(.darkMode) .menu .audio_list ul li
{
    color: white;
}
/* End DarkMode */